<div class="joinRoom--Container">
    <div class="joinRoomForm--Container">
        <h2>Join Room</h2>
        <input type="text" #userNameInput  placeholder="Enter user name..." class="form-control mb-2" [(ngModel)]="joinroom.userName"/>
        <input type="text" #roomNameInput placeholder="Enter room name..." class="form-control mb-2" [(ngModel)]="joinroom.roomName"/>
        <button (click)="joinRoom(joinroom.userName,joinroom.roomName)" class="btn btn-danger">Join Room</button>
    </div>
</div>
