<app-side-bar></app-side-bar>

<div class="createRoom--Container">
    <div id="createRoomForm--Container" class="flex flex-column bg-cyan-950 justify-self-center self-center w-1/2 mt-[10vh] gap-4 border-1 border-slate-400 px-5 py-[5vh] drop-shadow-2xl">
        <h1 id="create-room--title" class="xl:text-4xl sm:text-sm self-center text-slate-100 font-extrabold">Create Room</h1>
        <input type="text"  placeholder="John Doe" [(ngModel)]="createroom.userName" class="bg-transparent outline-0 xl:text-xl sm:text-md text-gray-400 border-b-2 border-slate-200" />
        <input type="text"  placeholder="Enter Room Name..." [(ngModel)]="createroom.roomName" class="bg-transparent xl:text-xl sm:text-md text-gray-400 outline-0 border-b-2 border-slate-200" />
        <button type="button" (click)="createRoom(createroom.roomName,createroom.userName)" class="focus:outline-none flex flex-row align-middle justify-center text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Create Game
            <svg class="w-[22px] h-[22px] ml-2 fill-[#ffffff] xl:block md:block lg:block sm:hidden" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
              </svg>
        </button>
    </div>
</div>


