<div class="home--Page">

<div id="menu--container" class="flex flex-column">
  <div id="title" class="flex flex-row mt-[10vh]">
    <img class="self-center justify-self-center" src="../../../assets/images/chess_logo.png" alt="chess-logo" />
    <h1 class="font-bold text-stone-200 text-6xl self-center w-full">Let Us <br /> Chess</h1>
  </div>
  <div id="game--options" class="flex flex-column justify-center align-center mt-[5vh]">
    <button type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" (click)="navigateTo('create')">Create Game </button>
    <button type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-md px-5 py-2.5 text-center me-2  mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 mt-[1vh]" (click)="navigateTo('join')">Join Game </button>
  </div>
</div>
</div>
