
.main--Board{
    display: flex;
    position: absolute;
    top: 40px;
    left: 50px;
    width: 44vw;
    height:90vh;
    // background-color: white;
    align-items: center;
    justify-content: center;
}

.column{
    display: flex;
    width: 5vw;
    height: 10vh;
    border: 1px solid black;
}

.column img{
    width: 4.5vw;
    height: 8vh;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
}

.Turn--Container{
    display: flex;
    width: 10vw;
    margin-top: 25px;
    margin-left: 100px;
}

.Turn--Container span{
    justify-content: center;
    align-self: center;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.King--Check--Container{
    display: flex;
    margin-left: 270px;
    margin-top: -10px;
}

.King--Check--Container span{
    justify-content: center;
    align-self: center;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
