body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home--Page{
    height: 100%;
    margin-top: 0;
    margin-left: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px; 
  }

  .row {
    display: flex;
    justify-content: center;
    margin: 0; 
  }

  .column {
    width: 80px;
    height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .Turn--Container {
    text-align: center;
    margin-top: 20px;
  }

  .King--Check--Container {
    text-align: center;
    margin-top: 10px;
  }

  /* Media queries for responsiveness */
  @media only screen and (max-width: 1667px) {
    .home--Page{
        margin-left: 470px;
      }

      .column {
        width: 80px;
        height: 80px; 
      }
  }

  @media only screen and (max-width: 1345px){
    .home--Page{
        margin-left: 370px;  
      }
  }

  @media only screen and (max-width: 1200px){
    .home--Page{
        margin-left: 270px;
      }
  }

  @media only screen and (max-width: 1134px) {
    .home--Page{
        margin-left: 270px;
      }

      .column {
        width: 80px;
        height: 80px; 
      }
  }

  @media only screen and (max-width: 934px) {
    .home--Page{
        margin-left: 40px;
      }
  }

  @media only screen and (max-width: 706px) {
    .home--Page{
        margin-left: 20px;
      }

    .column {
      width: 70px; 
      height: 70px; 
      font-size: 12px; 
    }

  }

  @media only screen and (max-width: 605px) {
    .column {
        width: 60px; 
        height: 60px; 
        font-size: 12px; 
      }
  }

  @media only screen and (max-width: 524px){
    .column {
        width: 55px; 
        height: 55px; 
        font-size: 12px; 
      }
  }

  @media only screen and (max-width: 484px){
    .column {
        width: 50px; 
        height: 50px; 
        font-size: 12px; 
      }
  }

  @media only screen and (max-width: 444px){
    .column {
        width: 45px; 
        height: 45px; 
        font-size: 12px; 
      }
  }

  @media only screen and (max-width: 404px){
    .column {
        width: 40px; 
        height: 40px; 
        font-size: 12px; 
      }
  }

  @media only screen and (max-width: 364px){
    .column {
        width: 35px; 
        height: 35px; 
        font-size: 12px; 
      }
  }

  @media only screen and (max-width: 324px){
    .column {
        width: 30px; 
        height: 30px; 
        font-size: 12px; 
      }
  }

  @media only screen and (max-width: 284px){
    .column {
        width: 25px; 
        height: 25px; 
        font-size: 12px; 
      }
  }


  