.menu__container {
    width: auto;
    align-self: center;
    justify-self: center;
}
.menu-options__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home--Page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.menu--Container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 500px;
    width: 40vw;
    height: 40vh;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0 0 10px 10px rgb(237, 137, 137);
}

.menu--Container h1{
    color: rgb(59, 231, 59);
    margin-top: -10px;
}

.menu--Container button{
    width: 150px;
    color: black;
    color: white;
}