<div class="home--Page">

    <div *ngIf="IsWhiteKingChecked" class="King--Check--Container">
      <span style="color: red"> {{ IsWhiteKingChecked }} </span>
    </div>
    
    <div *ngIf="IsBlackKingChecked" class="King--Check--Container">
      <span style="color: red"> {{ IsBlackKingChecked }} </span>
    </div>
  
    <div class="container main--Board">
      <div class="text-center">
        <div
          class="row"
          *ngFor="let row of chess_Board; let i = index"
          id="r{{ i }}"
        >
          <div
            class="column"
            id="r{{ i }}c{{ j }}"
            [ngStyle]="setTileStyle(i, j)"
            *ngFor="let column of row; let j = index"
            (dragover)="allowDrop($event)"
            (drop)="onDrop($event, i, j)"
            (touchend)="onTouchEnd($event, i, j)"
          >
            <img
              [src]="getImageSource(chess_Board[i][j])"
              alt=""
              id="R{{i}}C{{j}}"
              class="ImagePiece"
              #column
              *ngIf="getImageSource(chess_Board[i][j]) != ''"
              [draggable]="isPlayerTurn(currentPlayer, i, j)"
              (dragstart)="onDragStart($event, i, j)"
              (touchstart)="onTouchStart($event, i, j)"
              (touchmove)="onTouchMove($event)"
              
            />
          </div>
        </div>
      </div>
    </div>
    
    <div class="Turn--Container">
      <span style="color: white"> {{ currentPlayer | titlecase }}'s turn </span>
    </div>
    
  </div>
  
  
  