.create-room__container {
    display: flex;
    flex-direction: column;
}

.create-room-form__container {
    display: flex;
    flex-direction: column;
}

.create-room-form__container button {
    padding: 10px;
}
